* {
    box-sizing: border-box;
}

body {
    font-family: 'Righteous', sans-serif;
    padding: 0;
    margin: 0;
    /* height: 100vh; */
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;

}

/* section  */
.section {
    width: 100%;
    height: 100vh;

}


.circle1 {
    position: absolute;
    top: 714px;
    margin-left: -0px;

    /* position: absolute;
    left: -4%;
    top: 77%; */
    /* width: 110px;
    height: 110px;
    border: 25px solid rgba(237, 239, 252, 1);
    border-radius: 50%;
    z-index: 0; */

}

.circle2 {
    position: absolute;
    
    top: 286px;
    right: 0px;
    /* width: 200px;
    height: 200px;
    border: 20px solid rgba(237, 239, 252, 1);
    border-radius: 50%;
    z-index: 0; */
}



/* ----------header----------------- */

header {
    width: 100%;
    height: fit-content;
    /* margin-top: 80px;
    background-size: 100% 204px;
    background-image: url("../img/bg_home.png");
    background-repeat: no-repeat;
    background-position: center;
    object-position: center;
    object-fit: cover; */
    /* background-size: cover; */

}

.bg{
    width: 100%;
    margin-top: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/bg_home.png");
    height: 124px;
    object-position: center;
    object-fit: cover;
}

.wrapper {
    height: 80px;
    display: flex;
    justify-content: space-between;
    display: flex;
    position: fixed;
    padding: 0px 104px 0px 104px;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    background-color: white;

}

.logo {
    width: fit-content;
    font-weight: 400px;
    display: flex;
    align-items: center;
    font-family: 'Righteous', sans-serif;
    font-size: 24px;
    color: rgba(42, 54, 124, 1);

}

a {
    text-decoration: none;
    color: rgba(102, 102, 102, 1);
}

.list {
    width: fit-content;
    margin: 0;
    display: flex;
    align-items: end;
}

ul {
    width: 100%;
    display: flex;
    margin: 0;



}

li {
    font-family: 'Roboto', sans-serif;
    padding: 18px 23px 18px 23px;
    font-size: 16px;
    font-weight: bold;
    list-style-type: none;
    color: rgba(102, 102, 102, 1);
}


/* ----------- container-------- */
.container {
    max-width: 1440px;
    height: fit-content;
    display: flex;
    margin: 0 auto;    
  padding: 0 20px; 
    gap: 73px;
    justify-content: center;
    /* margin-bottom: 60px; */

}

.box1 {
    width: fit-content;
    font-family: 'Roboto';
    font-weight: bold;
    /* display: flex; */
    margin-top: 96px;
    margin-left: 104px;
    margin-right: 60px;

}

.title {

    width: 527px;

}

.p1 {
    font-size: 60px;
    margin: 0;
    color: rgba(42, 54, 124, 1);
}

.p2 {
    font-size: 24px;
    color: rgba(102, 102, 102, 1);
    margin-top: 20px;
    margin-bottom: 20px;

}

button {
  
    font-weight: bold;
    font-family: 'Roboto';
    padding: 4px 8px 4px 8px;
    border-radius: 40px;
    color: white;
    border: 0;
    background-color: rgba(77, 99, 226, 1);
}

.box2 {
    width: 658px;
    margin-top: 96px;

    right: 104px;
    /* height: fit-content; */
    position: relative;


}

.circle3 {
    top: 383px;
    left: -70px;
    position: absolute;
    z-index: 5;
}

.img_big {
    width: 528px;
    height: 469px;
    border-radius: 24px;
    border: 3px solid #fff;
    object-position: center;
    object-fit: cover;
}

.img_small {
    width: 316px;
    height: 281px;
    border-radius: 24px;
    border: 3px solid #fff;
    position: absolute;
    top: 260px;
    right: 0;
    object-position: center;
    object-fit: cover;
}

.footer {
    width: 100%;
    height: fit-content;
    background-color: rgba(250, 250, 250, 1);
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 0px 80px 0px 80px;
}

.list2 {
    width: 100%;
    display: flex;
    padding: 15px;
    align-items: center;

    justify-items: center;

    justify-content: space-between;

}



.img_big:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px #b2b9fd;
}

button {
    margin-top: 32px;
    border-radius: 100px;
    padding: 16px;
}