* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;


}


/* section  */
.section {
    height: 100vh;
    background-color: white;

}

/* -------------------HEADER-------------- */
header {
    width: 100%;
    height: fit-content;

}

.bg{
    width: 100%;
    margin-top: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/bg_ourteam.jpg");
    height: 320px;
    object-position: center;
    object-fit: cover;
}

.wrapper {
    height: 80px;
    display: flex;
    justify-content: space-between;
    display: flex;
    position: fixed;
    padding: 0px 104px 0px 104px;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    background-color: white;

}

.logo {
    width: fit-content;
    font-weight: 400px;
    display: flex;
    
    align-items: center;
    font-family: 'Righteous', sans-serif;
    font-size: 24px;
    color: rgba(42, 54, 124, 1);

}

a {
    text-decoration: none;
    color: rgba(102, 102, 102, 1);
}

.list {
    width: fit-content;
    margin: 0;
    display: flex;
    align-items: end;
}

.list ul {
    width: 100%;
    display: flex;
    margin: 0;



}

li {
    font-family: 'Roboto', sans-serif;
    padding: 18px 23px 18px 23px;
    font-size: 16px;
    font-weight: bold;
    list-style-type: none;
    color: rgba(102, 102, 102, 1);
}


/* ---------------------------------------------------- */

/* container */

.container {
    
    height: fit-content;
    background-color: white;

}

.mix_hxg{
    
    position: absolute;
    top: 1%;
    left: 44%;
    mix-blend-mode: multiply;
}

.hxg_big{
    position: absolute;
    bottom: -2%;
    left: 2%;

}

.hxg_small{
    position: absolute;
    top: 53%;
    right: 6%;
}

.hxg_border{
    position: absolute;
    top: 0%;
    right: 2%;
    
}



.box1 {
    height: fit-content;
    background-color: rgba(235, 237, 238, 1);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-bottom: 20px;
    position: relative;
}

.box1 h1 {
    color: rgba(42, 54, 124, 1);
    font-weight: bold;
    padding: 20px 0 0 0;
    margin: 0;

}

.box1 h3 {
    color: rgba(102, 102, 102, 1);
    margin: 12px;
}

.box1 p {
    color: rgba(102, 102, 102, 1);
    margin: 0;
}



.box2 {
    height: fit-content;
    padding: 80px 104px 0px 104px;
    /* display: flex; */


}

.list_item {
    /* height: 1050px; */
    display: flex;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;

    row-gap: 32px;
}

.item {
    width: 389.33331298828125px;
    height: fit-content;
    padding: 16px;
    border-radius: 24px;
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    /* border: 2px solid grey; */

}

.item img {
    width: 100%;
    height: 221px;
    border-radius: 24px;
    border: none;
    object-position: center;
    object-fit: cover;
}

.item h4 {
    color: rgba(77, 99, 226, 1);
    margin: 10px 0 10px 0;
    font-size: 24px;
    text-align: center;

}
.item h5{
    font-size: 18px;
}

.item p {
    color: rgba(102, 102, 102, 1);
    font-size: 16px;
}

.box_add{
    display: flex;
    justify-content: flex-end;
    margin: 60px 0 60px 0;

}

.list_shape{
    display: flex;
    

}

.list_shape .shape{
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
    border-radius: 4px;
    
}



/* --------------------FOOTER--------------- */
footer {
    height: fit-content;
 
    color: white;
}

.div1 {
    height: fit-content;
    background-color: rgba(55, 70, 160, 1);
    padding: 104px;
}



.div2 {
    height: fit-content;
    padding: 5px;

    color: rgba(59, 59, 59, 1);
    text-align: center;
    font-size: 12px;

}

.first {
    width: 100%;
    display: flex;
    
    justify-content: space-between;
    /* justify-content: center; */
}

.first h2 {
    width: 82%;
    margin: 0;
    display: flex;
    align-items: center;
}

.media {
    display: flex;
    width: 15%;
   justify-content: space-between;

}

.media img {
    width: 60px;
    height: 60px;
    object-position: center;
    object-fit: cover;
}

.content {
    width: 100%;
    display: flex;
}

.content1 {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: fit-content;
}

.box3 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
}

.shape {
    width: 40px;
    height: auto;

}

.shape1 {
    width: 20px;
    height: 20px;
    background-color: rgba(32, 42, 95, 1);
}


.doc {
    width: auto;
    height: auto;

}

.doc p {
    margin: 0 0 15px 0;
    font-size: 14px;
}


.content2 {
    width: 50%;
    height: fit-content;
    /* display: flex; */
}




.box4 {
    width: 50%;
    display: flex;
}

.box5 {
    width: 50%;
    display: flex;
}

.cover {
    display: flex;
}

.cover p {
    margin: 4px;
    font-size: 14px;
}

.box6 p {
    /* width: 0%; */
    margin-right: 150px;
}




/* Podup*/
.popup {
    z-index: 9999;
    position: fixed;   
    top: 0;
    left: 0;
    width: 100%;        
    padding: 0 20px;    
    height: 100%;          
    padding: 50px; 
    opacity: 0;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.5);
}

.popup:target {
    opacity: 1;
    pointer-events: auto;
}

.popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 16px;
    width: 873px;
    padding: 20px;
    max-height: 700px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;

    z-index: 999;
}

.popup-content img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
    border-radius: 16px;
}

.close {
    position: absolute;
    top: 5%;
    right: 50px;
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    z-index: 1000;
}

.content-podup {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    margin-top: 20px;
    gap: 40px;
    overflow-y: auto;

    scrollbar-width: none; 
    -ms-overflow-style: none;
}

.contact-podup {
    flex: 1;
}

.contact-podup h3 {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 20px;
    color: #3B3B3B;
    /* margin-bottom: 10px; */
    line-height: 1.5;
    letter-spacing: 0.16px;
}

.contact-podup ul {
    list-style: none;
    padding: 0;
}

.contact-podup li {
    padding:  0;
    font-size: 16px; 
    margin-top: 20px;
    color: #3B3B3B;
    font-weight: 200;
    font-family: 'Roboto', Arial, sans-serif;
    align-items: center;
}

.popup .hr{
    /* flex: 0.1; */
    width: 1px;
    height: 100vh;
    background-color: #1C1C1C;
    /* transform: rotate(90deg); */
}
.contact-podup i,
.contact-podup span {
    color: #3B3B3B;
    font-size: 20px; 
}

.contact-podup span {
    font-size: 24px; 
}

.introduce-podup {
   flex: 2;
}

.introduce-podup h2 {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 24px;
    color: #3B3B3B;
    line-height: 1.5;
    letter-spacing: 0.16px;
}

.introduce-podup span {
    color: #4D63E2;
    font-family: 'Roboto', Arial, sans-serif;
    margin-top: 5px;
}

.introduce-podup p {
    font-family: 'Roboto', Arial, sans-serif;
    color: #1C1C1C;
    margin-bottom: 10px;
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.16px;
}

.introduce-podup p:nth-of-type(1) {
    color: #B0B0B0;
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.16px;
}
