* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;


}


/* section  */
.section {
    width: 100%;
    height: 100vh;
    background-color: white;

}


/* ------------Header---------- */

header {
    width: 100%;
    height: fit-content;

}



.wrapper {
    height: 80px;
    display: flex;
    justify-content: space-between;
    display: flex;
    position: fixed;
    padding: 0px 104px 0px 104px;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    background-color: white;

}

.logo {
    width: fit-content;
    font-weight: 400px;
    display: flex;

    align-items: center;
    font-family: 'Righteous', sans-serif;
    font-size: 24px;
    color: rgba(42, 54, 124, 1);

}

a {
    text-decoration: none;
    color: rgba(102, 102, 102, 1);
}

.list {
    width: fit-content;
    margin: 0;
    display: flex;
    align-items: end;
}

ul {
    width: 100%;
    display: flex;
    margin: 0;



}

li {
    font-family: 'Roboto', sans-serif;
    padding: 18px 23px 18px 23px;
    font-size: 16px;
    font-weight: bold;
    list-style-type: none;
    color: rgba(102, 102, 102, 1);
}

/* -----------end header------ */


/* ---------------container--------- */
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 104px;
   
}



.container1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    

    

}

.container1 img{
   width: 100%;
}
.container1 h1{
    width: 860px;
    font-size: 48px;
    text-align: center;
}

.container1 p{
    width: 100%;
    font-size: 24px;
    color: rgba(176, 176, 176, 1);
    text-align: center;
}
.container2{
    width: 100%;
    display: flex;
    gap: 100px;
    margin-bottom: 126px;
}

.blog1{
    width: 60%;

    margin-top: 104px;
}

.blog1 h3{
    font-size: 28px;
    color: rgba(59, 59, 59, 1);

}

.blog1 p{
    font-size: 16px;
    color: rgba(102, 102, 102, 1);
}

.blog1 img{
    width: 100%;
}
.blog2{
    margin-top: 104px;
    width: 35%;
    height: fit-content;
    padding: 20px 24px 20px 24px;
    border-radius: 12px;
    border: 1px solid rgba(176, 176, 176, 1);
   
    
}

.blog2 h4{
    font-size: 24px;
    color: rgba(59, 59, 59, 1);

}

.blog2 h5{
    display: flex;
    align-items: center;
    color: rgba(176, 176, 176, 1);
    font-size: 17px;
    margin-top: 10px;
    

    /* text-align: center; */

}

.div_text{
    display: flex;
    align-items: center;
}


.container3{

}

.list_blog2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;

    row-gap: 32px;
    height: fit-content;

}

.list_blog2 .item {
    width: 389.6666564941406px;
    height: fit-content;

}

.list_blog2 .item img {
    width: 100%;
    height: 260px;
    object-position: center;
    object-fit: cover;

}

.list_blog2 .item .title p {
    margin: 12px 0 12px 0;
    font-size: 16px;
    color: rgba(102, 102, 102, 1);

}

.list_blog2 .item .title h4 {
    font-size: 24px;
    margin: 12px 0 12px 0;

}




/* ------------and container---------- */












/* -------------footer-------------- */
footer {
    height: fit-content;

    color: white;
}

.div1 {
    height: fit-content;
    background-color: rgba(55, 70, 160, 1);
    padding: 104px;
}



.div2 {
    height: fit-content;
    padding: 5px;

    color: rgba(59, 59, 59, 1);
    text-align: center;
    font-size: 12px;

}

.first {
    width: 100%;
    display: flex;

    justify-content: space-between;
    /* justify-content: center; */
}

.first h2 {
    width: 82%;
    margin: 0;
    display: flex;
    align-items: center;
}

.media {
    display: flex;
    width: 15%;
    justify-content: space-between;

}

.media img {
    width: 60px;
    height: 60px;
    object-position: center;
    object-fit: cover;
}

.content {
    width: 100%;
    display: flex;
}

.content1 {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: fit-content;
}

.box3 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
}

.shape {
    width: 40px;
    height: auto;

}

.shape1 {
    width: 20px;
    height: 20px;
    background-color: rgba(32, 42, 95, 1);
}


.doc {
    width: auto;
    height: auto;

}

.doc p {
    margin: 0 0 15px 0;
    font-size: 14px;
}


.content2 {
    width: 50%;
    height: fit-content;
    /* display: flex; */
}




.box4 {
    width: 50%;
    display: flex;
}

.box5 {
    width: 50%;
    display: flex;
}

.cover {
    display: flex;
}

.cover p {
    margin: 4px;
    font-size: 14px;
}

.box6 p {
    /* width: 0%; */
    margin-right: 150px;
}

/* ------------------------------------------------- */
/* --------------end footer---------- */
